@import url(./global.css);
@import url(./tipografia.css);
@import url(./utilitario.css);
@import url(./cores.css);
@import url(./header.css);
@import url(./introducao.css);
@import url(./bicicletas/bicilcetas-lista.css);
@import url(./tecnologia.css);
@import url(./parceiros.css);
@import url(./depoimento.css);
@import url(seguros.css);
@import url(./footer.css);
@import url(./termos.css);
@import url(./bicicletas/bicicleta.css);
